<template>
  <div id="wrapper" class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Метод прогонки</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="row">
      <div class="col-4">
        n = <input type="number" v-model.number="n" name="nn">
        <br>
        <button type="button" class="btn btn-primary mt-1" @click="result">Решить</button>
        <button type="button" class="btn btn-primary mt-1" @click="openFile">Открыть с файла</button>
        <button type="button" class="btn btn-primary mt-1" @click="saveFile">Сохранить на рабочий стол</button>
        <input id="openfile" type='file' accept='.txt' style='display: none'/>
      </div>
      <div class="col-8">
        <h4>Результат: </h4>
        <div v-for='answer in cons'>
          <span>{{answer.name}} : </span>
          <span>{{answer.value}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table" v-if='n > 0'>
          <tbody>
            <tr v-for="i in n">
              <th v-for="j in n">
                <form>
                  <div class="form-group row">
                    <div class="col-8">
                      <input class="form-control" type="number" v-model.number='matrix[i - 1][j - 1]' name="a" :placeholder="'a' + i + ''+ j">
                    </div>
                    <label class="col-4 col-form-label">* X{{j}}</label>
                  </div>
                </form>
              </th>
              <th>
                <form>
                  <div class="form-group row">
                    <label class="col-2 col-form-label"> = </label>
                    <div class="col-8">
                      <input class="form-control" type="number" v-model.number='matrixAnswer[i-1]' name="b" :placeholder="'B' + i">
                    </div>
                  </div>
                </form>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import fs from 'fs'
  import { remote } from 'electron'
  export default {
    name: 'index',
    data: () => ({
      n: null,
      matrix: [],
      matrixAnswer: [],
      cons: [],
      path: null
    }),
    mounted () {
      this.n = JSON.parse(JSON.stringify(this.$store.getters.n))
      this.matrix = JSON.parse(JSON.stringify(this.$store.getters.matrix))
      this.matrixAnswer = JSON.parse(JSON.stringify(this.$store.getters.matrixAnswer))
      if (this.matrix.length < 1 || this.matrixAnswer.length < 1) {
        this.n = 5
        this.matrix = [[2, 1, 0, 0, 0], [2, 9, 2, 0, 0], [0, 4, 17, -4, 0], [0, 0, 4, 15, -8], [0, 0, 0, 2, 3]]
        this.matrixAnswer = [-10, -26, -16, -2, 16]
      }
    },
    methods: {
      saveFile () {
        console.log(remote.app.getPath('desktop'))
        let txt = ''
        txt += this.n + '\n'
        this.matrix.forEach(line => {
          let t = ''
          line.forEach(data => {
            t += data + ' '
          })
          t += '\n'
          txt += t
        })
        this.matrixAnswer.forEach(data => {
          txt += data + ' '
        })
        console.log(txt)
        fs.writeFile(remote.app.getPath('desktop') + '/lab7.txt', txt, 'utf8', (err) => {
          if (err) throw err
          alert('Файл сохранён')
        })
      },
      openFile () {
        let chooser = document.querySelector('#openfile')
        chooser.click()
        chooser.addEventListener('change', (evt) => {
          this.path = document.querySelector('#openfile').files[0].path
          let txt = fs.readFileSync(this.path, 'utf-8')
          let arr = txt.split('\n')
          console.log(arr)
          this.matrix = []
          this.matrixAnswer = []
          this.n = null
          arr.forEach((line, index) => {
            if (index === 0) {
              this.n = Number(line)
            } else if (index <= this.n) {
              line = line.split(' ')
              let mat = []
              line.forEach((data, i) => {
                mat.push(Number(data))
              })
              this.matrix.push(mat)
            }
          })
          console.log(arr[arr.length - 1])
          arr[arr.length - 1].split(' ').forEach(data => {
            this.matrixAnswer.push(Number(data))
          })
        })
      },
      result: function () {
        let n1 = this.n - 1
        let eps = [] // Бешка
        let z = [] // Треугольник
        let et = [] // Лямбда
        z.push(this.matrix[0][0])
        eps[0] = -this.matrix[0][1] / this.matrix[0][0]
        et[0] = this.matrixAnswer[0] / this.matrix[0][0]
        for (let i = 1; i < n1; i++) {
          z[i] = this.matrix[i][i] + this.matrix[i][i + 1] * eps[i - 1]
          eps[i] = -this.matrix[i][i + 1] / z[i]
          et[i] = (this.matrixAnswer[i] - this.matrix[i][i - 1] * et[i - 1]) / z[i]
        }
        let answer = []
        answer[n1] = Math.round((this.matrixAnswer[n1] - this.matrix[n1][n1 - 1] * et[n1 - 1]) / (this.matrix[n1][n1] + this.matrix[n1][n1 - 1] * eps[n1 - 1]))
        et.push(answer[n1])
        z.push(this.matrix[n1][n1] + this.matrix[n1][n1 - 1] * eps[n1 - 1])
        if (isNaN(Number(this.matrix[n1][n1 + 1]))) {
          eps.push(0 / z[n1])
        } else {
          eps.push(this.matrix[n1][n1 + 1] / z[n1])
        }
        for (let i = n1 - 1; i >= 0; i--) {
          answer[i] = Math.round(eps[i] * answer[i + 1] + et[i])
        }
        this.cons.push({name: 'Δ', value: z})
        this.cons.push({name: 'δ', value: eps})
        this.cons.push({name: 'λ', value: et})
        this.cons.push({name: 'Матрица X', value: answer})
      }
    },
    watch: {
      n: function (nNew, nOld) {
        if (nOld !== null) {
          this.matrix = []
          console.log(this.matrix)
          this.$store.dispatch('addN', nNew)
          for (let i = 0; i < nNew; i++) {
            this.matrix[i] = []
          }
        }
      },
      matrix: function (matrixNew) {
        this.$store.dispatch('addMatrix', JSON.parse(JSON.stringify(this.matrix)))
      },
      matrixAnswer: function (answerNew) {
        console.log(answerNew)
        this.$store.dispatch('addAnswerMatrix', JSON.parse(JSON.stringify(this.matrixAnswer)))
      }
    }
  }
</script>