<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lab7</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
      <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>
    <script>
      window.jQuery = window.$ = require('jquery');
    </script>
    <script src="./node_modules/popper.js/dist/umd/popper.js" crossorigin="anonymous"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.js" crossorigin="anonymous"></script>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
